<html>
  <head>
    <title>todo app</title>
    <meta charset="utf-8">
    <style>
      ul{
        list-style: none;
      }

      li{
        border: 1px solid darkgray;
        margin-bottom: 4px;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 1px rgba(240, 240, 240, 0.7);
        padding: 8px;
        width: 360px;
        word-break: break-all;
      }
     .button {
       margin-right: 12px;
     }

    </style>
  </head>
  <body>
      <div id="root"></div>
  </body>
</html>
